body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
}

.bg-snow {
  background-image: url("images/bgSnowGif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%;

}